@import url("fonts.css");

*{
    font-family: 'Tajawal';    
    letter-spacing:0!important
}
.mobile{
    display: none;
}
h1,h2,h3,h4,h5,h6,button,p,div,ul,span,select,option,a,label{
    margin: 0;
    padding: 0;
}
.vcenter-item{
    display: flex;
    align-items: center;
}
.align-items{
    align-items: center;
}
.pt-70{
    padding-top: 70px;
}
.pb-70{
    padding-bottom: 70px;
}
.bg-gray{
    background: #F6F6F6;
}

.main-btn.btn-blue {
    color: white;
    text-decoration: none;
    padding: 15px 50px;
    font-family: 'Tajawal-Bold';
    border-radius: 50px;
    display: inline-block;
}

.main-btn.btn-blue {
    background: #29AFD4;
}

.main-btn.btn-blue:hover {
    background: #000021;
}

.main-navbar .nav-item a.nav-link {
    font-size: 17px;
    font-family: 'Tajawal-Medium';
    padding: 0 12px;
}

/**Index**/
    .main-navbar {
        position: absolute;
        padding: 50px 0;
    }
    .main-hero {        
        height: 100vh;
        color: white;
    }
    .page-index-hero{
        background: url('../images/main-banner.png');
    }
    .shape-top::before {position: absolute;content: '';background: url("../images/main-shape.png");background-repeat: no-repeat;background-size: cover;width: 100%;height: 237px;bottom: 0;}
    
    .main-navbar .nav-item a.nav-link {
        color: white;
    }
    .main-hero .container {
        height: 100%;
        display: flex;
        align-items: center;
    }
    
    img.main-logo {
        width: 190px;
        margin-left: 20px;
    }
    .main-hero .content h1 {
        font-size: 65px;
    }
    
    .main-hero .content h1.title-bold {
        position: relative;
        display: inline;
        font-weight: bold;
        font-size: 70px;
    }
    
    .main-hero .content h1.title-bold::before {
        content: '';
        background: url("../images/red-line.png");
        background-repeat: no-repeat;
        position: absolute;
        width: 60%;
        height: 20px;
        bottom: 0;
        left: 0;
    }
    .our-users {
        margin-top: 20px;
    }
    
    .our-users h2 {
        font-size: 50px;
    }
    
    .our-users .row.text-center .col-md-2 {
        padding-right: 0;
    }
    p.p-since {
        margin-bottom: 10px;
    }
    
    section.partners img {
        width: 100px;
        object-fit: scale-down;
        margin: 0 auto;
    }
    .main-title {
        text-align: center;
        margin-bottom: 90px;
    }
    
    .main-title h1 {
        color: #29AFD4;
        font-family: 'Tajawal-Medium';
        position: relative;
        display: inline;
    }
    
    .main-title h4 {
        font-family: 'Tajawal-Medium';
        margin-top: 15px;
    }
    
    .main-title h1::before {
        content: '';
        background: url('../images/title-stars.png');
        background-repeat: no-repeat;
        background-size: contain;
        width: 40px;
        height: 40px;
        left: -60px;
        position: absolute;
    }
    
    .main-title h1::after {
        content: '';
        background: url('../images/title-stars.png');
        background-repeat: no-repeat;
        background-size: contain;
        width: 40px;
        height: 40px;
        right: -60px;
        position: absolute;
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    }
    /*
    .main-card {
        background: url('../images/card.png');
        background-repeat: no-repeat;
        background-size: contain;
        padding: 0px 100px 142px 100px;
    }
    
    .main-card.card-right {
        background: url(../images/card-right.png);
        background-repeat: no-repeat;
        background-size: contain;
    }
    */
    
    .main-card {
        position: relative;
    }
    
    .main-card img.card-bg {
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        z-index: -1;
    }
    
    .main-card img.icon-img {
        width: 160px;
        top: -25px;
        position: relative;
    }
    
    .main-card .card-img-overlay {
        padding: 0 70px;
    }
    
    .main-card h2 {
        font-size: 35px;
        font-weight: 600;
        margin-bottom: 5px;
    }

    .main-card h4 {
        margin-bottom: 15px;
    }
    
    .main-card p {
        font-size: 19px;
        font-family: 'Tajawal-Light';
    }
    
    section.futures .main-btn.btn-blue {
        margin-top: 35px;
    }
    
    .shape-bottom {
        position: relative;
        padding: 250px 0;
    }
    
    .shape-bottom::before {position: absolute;content: '';background: url("../images/main-shape.png");background-repeat: no-repeat;background-size: cover;width: 100%;height: 237px;top: 0;transform: rotate(180deg);}
    .shape-bottom::after {position: absolute;content: '';background: url("../images/main-shape.png");background-repeat: no-repeat;background-size: cover;width: 100%;height: 237px;bottom: 0;}
    
    img.about-home {
        position: absolute;
        z-index: 9;
        width: 780px;
        left: 0;
        bottom: -100px;
    }
    
    section.about h2.title {
        color: #29AFD4;
        font-family: 'Tajawal-Medium';
        margin-bottom: 15px;
        line-height: 45px;
    }
    
    section.about h4.sub-title {
        margin-bottom: 25px;
        line-height: 35px;
    }
    
    section.about p {
        text-align: justify;
        margin-bottom: 30px;
        font-size: 18px;
        line-height: 30px;
    }        

    section.testimonials .main-btn.btn-blue:hover {
        background: white;
        color: #000021;
    }
    
    section.about .main-btn.btn-blue {
        margin-bottom: 15px;
    }
    
    .main-btn {
        font-family: 'Tajawal-Bold';
    }
    
    img.m-m-right {
        margin-right: -20px;
    }
    
    section.products {
        padding: 100px;
    }
    
    section.products {
        padding: 100px;
    }
    /*
    section.products .main-card {
        padding: 0px 80px 115px 80px;
    }
    */
    section.products .main-card img.card-product {
        width: 210px;
        margin: 0 auto;
        margin-bottom: 30px;
        display: block;
        margin-top: 80px;
    }
    
    .main-btn.btn-buy {
        background: #040423;
        padding: 10px 40px;
        text-decoration: none;
        border-radius: 50px;
        color: white;
        display: none;
    }
    
    section.products .main-card:hover h4 {
        display: none;
    }
    
    section.products .main-card:hover a {
        display: block;
        width: 80%;
        margin: 0 auto;
    }
    
    section.testimonials.shape-bottom {
        background: url('../images/bg-testimonials.png');
        padding: 230px 0;
    }
    
    section.testimonials .main-title h4 {
        color: white;
    }
    /*
    section.testimonials .main-card {
        padding: 0px 75px 82px 75px;
    }
    */
    section.testimonials .main-card p {
        margin-top: -25px !important;
    }
    
    section.testimonials .main-btn.btn-blue {
        margin-top: 40px;
    }
    
    footer.main-footer {
        position: relative;
        background: #000021;
        padding-top: 220px;
        color: white !important;
    }
    
    footer.main-footer.shape-top::before {
        transform: rotate(180deg);
        top: 0;
    }
    
    ul.footer-nav a {
        color: white;
        text-decoration: none;
        font-size: 19px;
        line-height: 50px;
    }
    
    ul.footer-nav {
        list-style: none;
        position: relative;
        margin-top: 100px;
    }
    
    img.footer-logo {
        margin-bottom: 30px;
    }
    
    footer.main-footer p {
        font-size: 17px;
    }
    
    ul.footer-nav.with-line::before {
        content: '';
        background: #a0a0a0;
        width: 1px;
        height: 100%;
        right: -55px;
        position: absolute;
    }
    
    ul.footer-nav.with-line {
        margin-right: 50px;
    }
    
    img.footer-img {
        position: relative;
        left: -50px;
    }
    
    .copyright {
        position: absolute;
        bottom: 70px;
        width: 100%;
    }
    
    footer.main-footer .container {
        position: relative;
    }
    
    .copyright::before {
        content: '';
        background: #a0a0a0;
        width: 100%;
        height: 1px;
        position: absolute;
        top: -30px;
    }
    
    ul.social-icons {
        display: flex;
        list-style: none;
        justify-content: center;
        margin-left: -80px;
    }
    
    img.social-icon {
        padding: 0 15px;
    }
    
    section.cta {
        padding: 100px 0;
    }
    
    section.cta img.cta-products {
        width: 100%;
    }
    
    section.cta h2 {
        font-family: 'Tajawal-Medium';
        color: #29AFD4;
        margin-bottom: 30px;
    }
    
    .vcenter-item.cta-check {
        right: -20px;
        margin-bottom: -20px;
        position: relative;
    }
    
    section.cta p {
        padding-top: 30px;
        padding-bottom: 30px;
        font-size: 19px;
        text-align: justify;
        line-height: 35px;
    }

    section.futures::before {
        content: '';
        position: absolute;
        background: url("../images/dashed-line.png");
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 250px;
        top: 45%;
        transform: translateY(-50%);
    }
    
    section.futures {
        position: relative;
    }
    
    section.products {
        position: relative;
        overflow-x: hidden;
    }
    
    section.products::before {
        content: '';
        position: absolute;
        background: url("../images/b-dots.png");
        background-position: center;
        background-repeat: no-repeat;
        width: 280px;
        height: 330px;
        right: -110px;
        top: 140px;
    }
    
    section.products::after {
        content: '';
        position: absolute;
        background: url("../images/b-dots.png");
        background-position: center;
        background-repeat: no-repeat;
        width: 280px;
        height: 330px;
        left: -110px;
        bottom: 150px;
    }
    
    section.products .home-products {
        margin-bottom: 70px;
    }
    
    section.cta {
        background: url("../images/cta-bg.png");
        background-repeat: no-repeat;
        background-position: center;
    }
/**End Index**/

/**About**/
.page-about-hero {
    background: url('../images/about-bg.png');
}
.icon-card {
    position: relative;
}

.page-hero .content h1 {
    font-family: 'Tajawal-Bold';
    margin-bottom: 15px;
}

.page-hero .content img.title-stars-w {
    right: -15px;
    position: relative;
    width: 50px;
}

.page-hero .content p {
    font-size: 19px;
    line-height: 31px;
}

.about-about {
    padding: 90px 0;
}

img.experience {
    width: 70%;
}

.about-about h2.title {
    color: #29AFD4;
    font-family: 'Tajawal-Medium';
    margin-bottom: 15px;
    line-height: 45px;
}

.about-about h4.sub-title {
    margin-bottom: 15px;
}

.about-about .main-btn.btn-blue {
    margin-top: 10px;
    margin-bottom: 40px;
}

.icon-card img {
    width: 100%;
}

.about-about .icon-card {
    width: 120px;
}

.about-about .icon-card h2 {
    font-weight: bold;
    margin-top: 15px;
}

.icon-card .card-img-overlay {
    text-align: center;
}

.cloud-card {
    position: relative;
    width: 85%;
    margin: 0 auto;
}

.cloud-card img.icon-img {
    position: absolute;
    width: 130px;
    right: -10px;
    top: 5px;
}

.cloud-card img.card-bg {
    width: 100%;
    filter: drop-shadow(5px 6px 15px #c9c9c9);
}

.cloud-card h2 {
    margin-top: 80px;
    right: 10px;
    position: relative;
}

.cloud-card p {
    font-size: 17px;
    font-family: 'Tajawal-Light';
    margin-top: 10px;
    padding: 0 20px;
}

.why-us {
    padding: 250px 0;
}

.why-us .main-btn.btn-blue {
    margin-top: 90px;
}

.a-cta {
    padding: 90px 0;
}

.a-cta img.a-cta-img {
    width: 100%;
}

.a-cta h2.title {
    color: #29AFD4;
    font-family: 'Tajawal-Medium';
    margin-bottom: 15px;
    line-height: 45px;
}

.a-cta .vcenter-item {
    margin-bottom: -25px;
}

.a-cta .main-btn.btn-blue {
    margin-top: 40px;
}

.faq .main-title h1 {
    color: black;
}

.faq-card {
    background: white;
    border: 1px solid #bdbdbd;
    border-radius: 25px;
    padding: 20px 25px 20px 100px;
    margin: 20px 0;
    box-shadow: 0 5px 30px 0 rgb(30 34 40 / 20%);
}

.faq-card h4 {
    font-family: 'Tajawal-Medium';
    font-size: 21px;
}

.faq .main-card .card-img-overlay {
    padding: 0 110px;
    top: 43%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.faq .main-card .card-img-overlay h2 {
    font-size: 30px;
    font-weight: 100;
}

.faq .main-card img.icon-img {
    top: 0;
    width: 70px;
    margin-bottom: 15px;
}

.faq .main-card .card-img-overlay p {
    margin-bottom: 15px;
}

section.faq {
    padding-bottom: 90px;
    position: relative;
}

section.a-cta {
    padding: 100px 0;
    position: relative;
}

section.faq .main-title {
    margin-bottom: 50px;
}
section.about-about {
    position: relative;
    overflow-x: hidden;
}

section.about-about::before {
    content: '';
    position: absolute;
    background: url("../images/about-about-bg-b.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 350px;
    height: 430px;
    right: -120px;
    bottom: 0;
    z-index: -1;
}

section.about-about::after {
    content: '';
    position: absolute;
    background: url("../images/about-about-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 460px;
    height: 450px;
    left: -90px;
    top: 40px;
    z-index: -1;
}

section.why-us .why-us-bg::before {
    content: '';
    position: absolute;
    background: url("../images/about-dashed-line.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 180px;
    top: 50%;
    transform: translateY(-50%);
}

section.a-cta {
    background: url("../images/a-cta-bg.png");
    background-repeat: no-repeat;
    background-position-y: 200px;
    background-position-x: 50px;
    background-size: contain;
}

section.faq {
    background: url("../images/faq-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.faq button.accordion-button {
    position: absolute;
    width: 27px;
    height: 27px;
    left: -70px;
    box-shadow: none !important;
    background: transparent !important;
    top: 50%;
    transform: translateY(-50%);
}

.faq .accordion-header {
    position: relative;
}

.faq button.accordion-button::after {
    display: block;
    background-image: url("../images/icon-min.png") !important;
    background-size: cover;
    width: 27px;
    height: 27px;
    left: 0;
    right: 0;
}

.faq button.accordion-button.collapsed::after {
    background-image: url("../images/icon-plus.png") !important;
}
/**End About**/

/**Shop**/
.page-shop-hero {
    background: url('../images/shop-bg.png');
}
.product-card {
    position: relative;
}
.product-card img.card-bg {
    width: 100%;
}

ul.ul-filter li {
    list-style: none;
    display: inline-block;
}

ul.ul-filter li a {
    text-decoration: none;
    color: black;
    padding: 0 10px;
    font-weight: bold;
    position: relative;
    padding-right: 30px;
}

ul.ul-filter {
    float: left;
}

ul.ul-filter li a.active {
    background: #29AFD4;
    color: white;
    padding: 10px 40px;
    border-radius: 50px;
}

ul.ul-filter li a::before {
    content: '';
    background: black;
    width: 1px;
    height: 100%;
    position: absolute;
    right: 7px;
}

ul.ul-filter li:first-child a::before {
    background: none;
}

ul.ul-filter li:first-child a {
    margin-left: 10px;
}

h3.filter-title {
    font-weight: bold;
}

.filter-div {
    margin-bottom: 70px;
}

section.all-products img.card-product {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 250px;
}

.product-info {
    /*margin-bottom: 40px;*/
    padding: 0 50px;
}

.product-info h4 {
    font-weight: 600;
    margin-bottom: 10px;
}

.product-info p {
    margin-bottom: 10px;
}

.product-info img {
    width: 90px;
    display: block;
    margin: 0 auto;
}

.product-card.p-new.text-center::before {
    content: '';
    background: url('../images/product-new.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 70px;
    height: 70px;
    position: absolute;
    right: 0;
    top: 0;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-top: 60px;
    margin-bottom: 50px;
}
.pages {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.page {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.page:hover {
    background-color: #29AFD4;
    color: #fff !important;
}

.pagination a.page {
    text-decoration: none;
    color: #29AFD4;
    border: 1px solid #29AFD4;
}

.pagination .active {
    background-color: #29AFD4;
    color: #fff !important;
}

.pagination .btn {
    background-color: #fff;
    border: 1px solid #29AFD4;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.pagination .btn:hover {
    background-color: #29AFD4;
}
.pagination .btn--icon {
    height: 24px;
    width: 24px;
    stroke: #29AFD4;
}
.pagination .btn:hover .btn--icon {
    stroke: #fff;
}

section.testimonials.shop-testimonials .main-title h4 {
    color: black;
}

section.testimonials.shop-testimonials {
    padding: 70px 0;
}

section.testimonials.shop-testimonials .main-title {
    margin-bottom: 70px;
}

a.btn-product {
    text-decoration: none;
    color: black;
    margin-bottom: 50px;
    display: block;
}
/**End shop**/

/**Contact**/
.page-contact-hero {
    background: url('../images/contact-bg.png');
}
section.contact-form-div {
    padding: 120px 0;
}

.contact-form {box-shadow: 0 5px 30px 0 rgb(30 34 40 / 20%);border-radius: 40px;padding: 60px 40px;}

.contact-form input, .contact-form textarea {
    border-radius: 50px;
    margin-bottom: 20px;
    text-align: right;
    padding: 5px 20px;
}

.contact-form textarea {
    border-radius: 30px;
}

.contact-form button.main-btn.btn-blue {
    border: none;
    padding: 12px 40px;
    display: block;
    width: 100%;
}

.contact-form h1.title.text-center {
    position: relative;
    font-size: 30px;
    font-weight: 600;
    display: table;
    margin: 0 auto;
    margin-bottom: 50px;
}

.contact-form h1.title.text-center::before {
    content: '';
    background: url('../images/red-line.png');
    background-repeat: no-repeat;
    position: absolute;
    width: 70%;
    height: 20px;
    bottom: -10px;
    left: 0;
    z-index: -1;
}

.contact-content {
    text-align: center;
}

.contact-content h1 {
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 25px;
}

.contact-content p {
    margin-bottom: 25px;
}

.contact-content img {
    width: 60%;
}

section.contact-info .main-title {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 80px;
}

section.contact-info .main-title p {
    margin-top: 25px;
}

section.contact-info .main-title h1 {
    color: black;
}

section.contact-info {
    padding-bottom: 90px;
}
/**End Contact**/

/**Single-product**/
.single-product-hero {
    background: #000021;
}

.single-product-hero .content {
    width: 70%;
    margin: 0 auto;
}

.single-product-hero .content h1 {
    margin-bottom: 20px;
    margin-top: 15px;
}

.single-main-image .card-product {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 80%;
    margin: 0 auto;
    display: block;
}

.single-other-image img.card-product {
    position: relative;
    top: 50%;
    right: 2%;
    transform: translateY(-50%);
    width: 85%;
    margin: 0 auto;
    display: block;
}

.product-other-img {
    margin-top: 30px;
}

section.product-res {
    padding-top: 100px;
}

.single-product-info h1 {
    font-weight: 600;
    margin-bottom: 20px;
}

.single-product-info img {
    margin-bottom: 22px;
}

.single-product-info h4.old-price {
    color: red;
    text-decoration-line: line-through;
    margin-bottom: 15px;
}

.single-product-info h2.price {
    font-weight: 600;
    margin-bottom: 50px;
}

.single-product-info p.s-desc {
    text-align: justify;
    font-size: 19px;
    line-height: 30px;
    margin-bottom: 50px;
}

table.sku-des tr th:first-child {direction: ltr;padding-left: 30px;}

table.sku-des tr th {
    font-weight: normal;
}

.single-product-info {
    padding-right: 50px;
}

section.single-description {
    padding: 100px 0;
}

section.single-description p.s-content {
    box-shadow: 0 5px 30px 0 rgb(30 34 40 / 20%);
    border-radius: 40px;
    padding: 60px 40px;
    font-size: 17px;
    line-height: 30px;
}

section.single-description h4.s-title {
    box-shadow: 0 5px 30px 0 rgb(30 34 40 / 20%);
    border-radius: 40px;
    padding: 10px;
    display: inline-block;
    width: 200px;
    text-align: center;
    position: relative;
    right: 20px;
    bottom: -20px;
    background: white;
}

section.may-also-like {
    padding-bottom: 70px;
}

section.may-also-like img.card-product {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 80%;
}

section.may-also-like h2.title {
    font-weight: 600;
    margin-bottom: 40px;
}
/**End Single**/

/**404**/
.page-404-hero {
    background: url('../images/404-bg.png');
    background-size: cover;
    background-position: center;
}
img.img-404 {
    display: block;
    margin: 0 auto;
    width: 50%;
}

section.not-found {
    padding: 100px 0;
}

section.not-found img.not-fount-404 {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 90px;
}
/**End 404**/